@import "../color_scheme";
@import "compass/css3";

$width: 620px;
$width-big: 720px;

$line-height: 1.4em;

$header-width: 240px;
$header-pad: 40px;
$content-pad: 40px;

$header-name: #333;
$header-text: $header-color;
$header-link: $theme;
$header-home: $header-color;
$header-icon: $header-color;

html {
  font-size: 62.5%;
}

body, textarea, pre, input {
  font-family: 'freight-sans-pro', Helvetica, Arial, sans-serif;
  font-size: 2.0rem;
  line-height: $line-height;
  background: $body-bg;
}

h1, h2, h3, h4, #text-title * {
  font-family: 'adelle', Helvetica, Arial, sans-serif;
  line-height: 1.2em;
  margin: 1em 0;
  font-weight: normal;

  a:hover {
    color: $theme;
  }
}

#text-title,
#text-title pre,
#text-title textarea,
h1 {
  font-size: 3.4rem;
}

h1.external {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.0rem;
  color: rgba(0,0,0,0.8);
}

h3 {
  font-size: 2.0rem;
  color: rgba(0,0,0,0.8);
}

/*
  Place things inside #body to not affect the admin
*/

header {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $header-width;
  background: $header-bg;
  border-left: 1px solid #ddd;

  .inner {
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50%;
    margin-top: -140px;
  }

  #header-content {
    padding: $content-pad 20px;
  }

  h1 {
    margin: 0 0 16px 0;
    position: relative;
    font-size: 2.6rem;
    font-weight: bold;

    a {
      color: $header-name;
      vertical-align: middle;

      &:before {
        content: "";
        position: absolute;
        top: -40px;
        font-family: FontAwesome;
      }
    }
  }

  p {
    color: rgba(0,0,0,0.4);
    margin: 6px 0 12px 0;
    font-size: 1.6rem;
    line-height: 1.4em;
    color: $header-text;

    a {
      border-bottom: 1px dotted $header-color;
    }
  }

  a, a:hover {
    color: $header-link;
  }

  .twitter {
    margin: 20px 0 0;
  }

  #connect {
    margin: 12px 0 0;
    padding: 0;
    list-style: none;
    font-size: 2.0rem;

    li {
      margin: 0;
      display: inline;

      #connect-email {
        display: none;
      }

      a {
        margin: 0 3px;
        color: $header-icon;

        &:hover {
          color: $theme;
        }

        &[class^="icon"],
        &[class*=" icon-"] {
          display: inline-block;
          height: 28px;
          width: 28px;
          overflow: hidden;
          line-height: 1.45em;

          &:before {
            font-size: 2.8rem;
          }
        }

        &.icon-github {
          line-height: 1.35em;

          &:before {
            font-size: 3.0rem;
          }
        }

        &.icon-twitter {
          line-height: 1.4em;

          &:before {
            font-size: 2.6rem;
          }
        }
      }
    }
  }
}

#body {
  footer {
    display: block;
    font-size: 1.6rem;
    color: #999;
    padding: 1em 0;
    margin: 2em $header-width - $header-pad 0 0;
    line-height: 3em;
    text-align: center;

    aside {
      display: block;
      font-size: .9rem;
    }
  }

  .inner {
    width: auto;
  }

  #content {
    margin: $content-pad auto;
    padding: 0 0 0 $content-pad;
    width: 1020px;

    .inner {
      margin-right: $header-width + $content-pad;
    }
  }

  .signature {
    border-top: none;
    padding-top: 0;
    margin: 4em 0;
    color: rgba(0,0,0,0.6);
    font-size: 1.8rem;

    &:before {
      content: "";
      display: block;
      margin: 0 auto 4em;
      width: 6px;
      height: 6px;
      border-radius: 10px;
      background: #ccc;
    }
  }
}

.inner {
  width: $width;
}

#home-link {
  display: inline-block;
  width: 32px;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
  color: $header-home;
  position: absolute;
  top: $content-pad;
  left: 50%;
  margin-left: -12px;
  line-height: 2em;
  display: none;
  @include box-shadow(0 0 40px $header-bg);

  &:hover {
    color: $theme;
  }

  &:before {
    background: $header-bg;
    padding: 8px;
    margin: -8px;
    font-size: 2.8rem;
  }
}

.posts.show #home-link {
  display: block;
}

#content {
  article {
    margin: 0 0 8rem 0;

    p:first-child {
      font-size: 2.6rem;
      line-height: $line-height;
    }

    time {
      font-size: 1.8rem;
    }
  }
}

nav.pagination {
  text-align: left;

  a {
    margin: 0 20px 0 0;
  }
}

/* Medium */
@media only screen and (max-width: 1024px) {
  header {
    width: 180px;

    h1 {
      font-size: 2.0rem;
    }
  }

  #body {
    #content {
      width: auto;
      max-width: 880px;

      .inner {
        margin-right: 180px + $content-pad;
      }
    }
  }
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) {
  header {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto 20px;
    padding: 0 60px 20px;
    width: auto;
    border: none;

    h1 {
      font-size: 3.6rem;
    }

    p {
      font-size: 2.0rem;
    }

    #header-content {
      padding: 20px 0 0;
    }

    .inner, #header-content {
      position: relative;
      top: auto;
      margin: 0;
    }
  }

  #body {
    #content {
      padding: 0;

      .inner {
        margin: 0 5%;
      }
    }
  }

  #body #home-link {
    display: none;
  }
}
