@font-face {
    font-family: 'Lato';
    src: url('lato-webfont.eot');
    src: url('lato-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-webfont.woff') format('woff'),
         url('lato-webfont.ttf') format('truetype'),
         url('lato-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}